{% extends 'base.html' %}

{% block content %}
<div class="ui container">
    <div class="ui padded grid">
        <div class="row">
            <div class="sixteen wide column">
                <div class="ui positive message" id="results" style="display:none;">
                    <i class="close icon"></i>
                    <p id="success-msg"></p>
                </div>
                <h1 class="ui header">{{ campaign.title }}'s teams</h1>
                <div class="ui divider"></div>
                <button id="team-create" class="fluid ui teal button">Create</button>
                <div class="ui divider"></div>
                <table id="teams" class="ui table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for team in campaign.teams.all %}
                            <tr>
                                <td data-label="Name">{{ team.name }}</td>
                                <td><a href="{{ team.url }}">Details</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="t-modal" class="ui longer modal">
    <div class="header">Team</div>
    <div class="scrolling content">
        <form id="t-form" class="ui large container form" method="POST" action="{% url 'teams:create' %}">
            {% csrf_token %}
            <div class="field">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" />
            </div>
            <input id="slug" name="slug" type="hidden" value="{{campaign.slug}}" />
            <div class="ui divider"></div>
            <button class="ui teal button" type="submit">Submit</button>
        </form>
    </div>
</div>
{% endblock content %}

{% block javascript %}
<script>
    $("#team-create").click(function() {
        $('#t-modal').modal('show');
    });

    $('.message .close')
        .on('click', function() {
            $(this)
                .closest('.message')
                .transition('fade');
        });

    $('#t-form').on('submit', function(event){
        event.preventDefault();

        var url = $(this).attr('action');
        var js_url = `/teams/campaign/${$("#slug").val()}/`;
        $.ajax({
            data: $(this).serialize(),
            type: $(this).attr('method'),
            url: url,
            success: function(response) {
                 console.log(response);
                 if(response['success']) {
                    //$("#results").css("display", "block");
                    //$("#success-msg").html(response['message'])
                    $("#t-form")[0].reset();
                    $(".ui.longer.modal").modal('hide');
                    load_data(js_url, function(json) {
                        console.log(json)
                        var tr = document.createElement('tr');
                        var tdName = document.createElement('td');
                        for (var i = 0; i < json.length; i++) {
                            var name = $(tdName).html(json[i].name);
                            var row = $(tr).append(name);
                            $("#teams").prepend(row);
                        }
                    });
                    
                 }
                 if(response['error']) {
                 } 
            },
            error: function (request, status, error) {
                 console.log(request.responseText);
            }
        });
    });

</script>
{% endblock javascript %}