<div id="vm_{{ member.slug }}" class="ui longer modal">
    <div class="header">Volunteer Details</div>
    <div class="scrolling content">
        <div class="ui items">
            <div class="item">
                <div class="image">
                    <img src="{{ member.get_avatar }}">
                </div>
                <div class="content">
                    <a class="header">{{ member.get_name }}</a>
                    <div class="meta">
                        <span>Description</span>
                    </div>
                    <div class="description">
                        <p>
                            Morbi feugiat mauris eu mauris finibus fringilla. Maecenas id enim tortor. Sed viverra rutrum sem eget laoreet. Vivamus in pellentesque quam. Mauris metus nibh, lacinia pulvinar ante sit amet, aliquam hendrerit erat. Ut et condimentum leo. In imperdiet ex nec blandit gravida.
                        </p>
                    </div>
                    <div class="extra">
                        Additional Details
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>