{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Grace Work</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'pkgs/semantic/semantic.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/utils.css' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% block styles %}{% endblock styles %}
</head>
<body>
    {% include 'partials/_navbar.html' %}
    <div class="ui main fluid container pb-5">
        {% block content %}
        {% endblock content %}
    </div>
    {% include 'partials/_footer.html' %}
    
    <script src="{% static 'pkgs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'pkgs/semantic/semantic.min.js' %}"></script>
    <script src="{% static 'js/ajaxCRUD.js' %}"></script>
    {% block javascript %}{% endblock javascript %}
</body>
</html>