<div style="margin-bottom: .5rem">
  <span class="ui header">Campaigns</span> &nbsp; 
  <small>
    {% if member.id == request.user.member.id %}
      [ <a href="{% url 'members:ilist' member.slug %}">All</a> ]
    {% else %}
      [ <a href="{% url 'members:plist' member.slug %}">All</a> ]
    {% endif %}
    
  </small>
</div>

<div class="ui styled fluid accordion">
  {% for item in campaigns %}
    <div class="title">
      <i class="dropdown icon"></i>
      {{ item.title }}
    </div>
    <div class="content">
      <p>{{ item.description|truncatechars:20 }}</p>
      <div class="ui divider"></div>
      <a class="fluid ui teal button" href="#">View more...</a>
    </div>
  {% empty %}
    <div class="title">
      <i class="dropdown icon"></i>
      Nothing here?
    </div>
    <div class="content">
      <p>Yep, Nothing here.</p>
      <div class="ui divider"></div>
      <a class="fluid ui teal button" href="{% url 'campaigns:create' %}">Create</a>
    </div>
  {% endfor %}
</div>