<div class="ui fluid vertical menu rounded-0">
  <a class="{% if request.resolver_match.url_name == 'index' %}active or-text{% endif %} item">
    Feed
  </a>
  <a href="{% url 'members:ilist' %}" class="item {% if request.resolver_match.url_name == 'ilist' %}active or-text{% endif %}">
    Campaigns
  </a>
  <a class="item">
    Volunteer Work
  </a>
  <a href="{% url 'events:user-events' %}" class="item">
    Events
  </a>
  <a href="{% url 'contacts:contact-list' %}" class="item">
    Contacts
  </a>
  <a class="item">
    Messages
  </a>
  <div class="item">
    <div class="ui transparent icon input">
      <input type="text" placeholder="Search...">
      <i class="search icon"></i>
    </div>
  </div>
</div>