{% extends 'member.html' %}

{% block content %}
<div class="ui container">
    <div class="ui padded grid">
        <div class="row">
            <a class="fluid ui teal button" href="{% url 'campaigns:create' %}">Create</a>
        </div>

        <div class="row">
            <table class="ui table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Funds Available</th>
                        <th>Funds Raised</th>
                        <th>Funds Needed</th>
                        <th>Volunteers Needed</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for campaign in campaigns %}
                        <tr>
                            <td>{{ campaign.title }}</td>
                            <td>{{ campaign.funds_available }}</td>
                            <td>{{ campaign.funds_raised }}</td>
                            <td>{{ campaign.funds_needed }}</td>
                            <td>{{ campaign.volunteers_needed}}</td>
                            <td><a href="{% url 'campaigns:idetails' campaign.slug %}">View</a> | <a href="{% url 'campaigns:edit' campaign.slug %}">Edit</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
