{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="ui container">
    <div class="ui padded grid">

        <div class="row">
            <div class="sixteen wide column">
                <div class="ui positive message" id="results" style="display:none;">
                    <i class="close icon"></i>
                    <p id="success-msg"></p>
                </div>

                <h2 class="ui header">{{ campaign.title }}</h2>
                <p><strong>Cause:</strong> <em>{{ campaign.cause.name }}</em></p>
                <p>{{ campaign.description }}</p>
            </div>
        </div>

        <div class="ui divider"></div>

        <div class="row">
            <div class="sixteen wide column">
                <div class="ui breadcrumb">
                    <a href="{% url 'members:index' %}" class="section or-link">
                        Feed
                    </a>
                    <i class="right angle icon divider"></i>
                    <a href="{% url 'members:ilist'%}" class="section or-link">
                        Campaigns
                    </a>
                    <i class="right angle icon divider"></i>
                    <div class="active section">{{ campaign.title }}</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="nine wide column">
                <button id="post-form" type="button" class="ui fluid orange-red button rounded-0 mb-3">Post</button>
                <div id="posts">
                    {% for post in campaign.get_conversations %}
                        <div class="ui fluid card rounded-0">
                            <div class="content">
                                <div class="header"><a href="#">{{ post.title }}</a></div>
                                <div class="meta">{{ post.timelapse }}</div>
                                <div class="description">
                                    {{ post.content }}
                                </div>
                                
                                <form id="comment-form" class="ui reply form mt-3" method="POST" action="#">
                                    <div class="field">
                                        <input type="text" id="c-content" name="c-content" required />
                                    </div>
                                    <button type="submit" class="ui green labeled submit icon button">
                                        <i class="icon edit"></i> Add Reply
                                    </button>
                                </form>
                            </div>
                            <div class="extra content">
                                <i class="check icon"></i>
                                121 Votes
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="seven wide column">
                <div class="ui top demo attached segment">
                    <div class="ui header">Donations</div>
                </div>
                <div class="ui attached segment scrollable">
                    <div class="ui green progress" data-percent="74" id="example1">
                        <div class="bar"></div>
                        <div class="label">74% Funded</div>
                    </div>
                    <table class="ui fluid basic table rounded-0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Date Joined</th>
                                <th>E-mail</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>John Lilki</td>
                                <td>September 14, 2013</td>
                                <td>jhlilk22@yahoo.com</td>
                            </tr>
                            <tr>
                                <td>Jamie Harington</td>
                                <td>January 11, 2014</td>
                                <td>jamieharingonton@yahoo.com</td>
                            </tr>
                            <tr>
                                <td>Jill Lewis</td>
                                <td>May 11, 2014</td>
                                <td>jilsewris22@yahoo.com</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="ui top demo attached segment mt-3">
                    <div class="ui header">Volunteer Request</div>
                </div>
                <div class="ui attached segment scrollable">
                    <table class="ui table rounded-0">
                        <thead>
                            <tr>
                                <th>User</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for volunteer in volunteers %}
                            <tr id="tr_{{ volunteer.slug }}">
                                <td>{{ volunteer.member.get_name }}</td>
                                <td><button type="button" id="{{ volunteer.member.slug }}" class="v-view ui button">View</button></td>
                                <td>
                                    <form id="{{ volunteer.slug }}" class="v-form ui form mt-2" method="POST" action="{{ volunteer.response_url }}">
                                        <div class="fields">
                                            <div class="sixteen wide field pt-1">
                                                <select name="status" id="sel_{{volunteer.slug}}">
                                                    <option selected="true" disabled="disabled">Response</option>
                                                    <option value="Accept">Accept</option>
                                                    <option value="Reject">Deny</option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                            {% include 'volunteers/_volunteer_modal.html' with member=volunteer.member %}
                        {% endfor %}
                    </tbody>
                    </table>
                </div>

                <div class="ui top demo attached segment mt-3">
                    <div class="ui header">Volunteers</div>
                </div>
                <div class="ui attached segment scrollable">
                    <p>Volunteers</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascript %}
<script>
    $(document).ready(function() {

        $('#example1').progress();

        //Get the button:
        //mybutton = document.getElementById("myBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        /*window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }*/

        var volunteers = document.querySelectorAll(".v-view");

        volunteers.forEach(function(app) {
            app.addEventListener("click", function(event) {
                event.preventDefault();
                var modal = document.getElementById(`vm_${ this.id }`);
                $(modal).modal('show');
            });
        });

        $('.message .close').on('click', function() {
            $(this)
                .closest('.message')
                .transition('fade');
        });

        forms = document.querySelectorAll(".v-form");

        forms.forEach(function(form) {
            $(`#sel_${form.id}`).on('change', function(e) {
                e.preventDefault();
                
                $.ajax({
                    data: $(form).serialize(),
                    type: $(form).attr('method'),
                    url: $(form).attr('action'),
                    success: function(response) {
                        console.log(response);
                        if(response['success']) {
                            $("#results").css("display", "block");
                            $("#success-msg").html(response['message']);
                            $(`#tr_${form.id}`).remove();
                        }
                        if(response['error']) {
                        } 
                    },
                    error: function (request, status, error) {
                        console.log(request.responseText);
                    }
                });
            });
        });

    });
</script>
{% endblock javascript %}