{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="ui container">
    <div class="ui padded grid">

        <div class="row">
            <div class="sixteen wide column">
                {% comment %} <div class="ui positive message" id="results" style="display:none;">
                    <i class="close icon"></i>
                    <p id="success-msg"></p>
                </div> {% endcomment %}
                <h2 class="ui header">{{ campaign.title }}</h2>
                <p>{{ campaign.description }}</p>
            </div>
        </div>

        <div class="ui divider"></div>

        <div class="row">
            <div class="sixteen wide column">
                {% include 'partials/_campaign_breadcrumbs.html' %}
            </div>
        </div>

        <div class="row">
            <div class="four wide column">
                {% include 'partials/_campaign_sidenav.html' %}
            </div>
            <div class="seven wide column">
                <div class="ui segment rounded-0">
                    <h2 class="ui header">Donations</h2>
                    <div class="ui green progress" data-percent="74" id="example1">
                        <div class="bar"></div>
                        <div class="label">74% Funded</div>
                    </div>
                    <table class="ui basic compact table rounded-0">
                        <thead>
                            <tr>
                            <th>Name</th>
                            <th>Date Joined</th>
                            <th>E-mail</th>
                            <th>Called</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>John Lilki</td>
                                <td>September 14, 2013</td>
                                <td>jhlilk22@yahoo.com</td>
                                <td>No</td>
                            </tr>
                            <tr>
                                <td>Jamie Harington</td>
                                <td>January 11, 2014</td>
                                <td>jamieharingonton@yahoo.com</td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td>Jill Lewis</td>
                                <td>May 11, 2014</td>
                                <td>jilsewris22@yahoo.com</td>
                                <td>Yes</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="five wide column">
                <div class="ui top demo attached segment">
                    <div class="ui header">Volunteers</div>
                </div>
                <div class="ui attached segment" style="overflow: auto; max-height: 200px;">
                    <p>Volunteers</p>
                </div>
                <div class="ui bottom demo attached segment">
                    <div class="ui header">Bottom</div>
                </div>

                <div class="ui top demo attached segment mt-3">
                    <div class="ui header">Volunteers</div>
                </div>
                <div class="ui attached segment" style="overflow: auto; max-height: 200px;">
                    <p>Volunteers</p>
                </div>
                <div class="ui bottom demo attached segment">
                    <div class="ui header">Bottom</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascript %}
<script>
    $(document).ready(function() {

        $('#example1').progress();

        /*$('.message .close').on('click', function() {
            $(this)
                .closest('.message')
                .transition('fade');
        });

        forms = document.querySelectorAll(".v-form");

        forms.forEach(function(form) {
            $(`#sel_${form.id}`).on('change', function(e) {
                e.preventDefault();
                
                $.ajax({
                    data: $(form).serialize(),
                    type: $(form).attr('method'),
                    url: $(form).attr('action'),
                    success: function(response) {
                        console.log(response);
                        if(response['success']) {
                            $("#results").css("display", "block");
                            $("#success-msg").html(response['message']);
                            $(`#tr_${form.id}`).remove();
                        }
                        if(response['error']) {
                        } 
                    },
                    error: function (request, status, error) {
                        console.log(request.responseText);
                    }
                });
            });
        });*/

    });
</script>
{% endblock javascript %}