{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="ui container">
    <div class="ui padded grid">
        <div class="row">
            <div class="sixteen wide column">
                <div class="ui positive message" id="results" style="display:none;">
                    <i class="close icon"></i>
                    <p id="success-msg"></p>
                </div>
                <h1 class="ui header">{{ campaign.title }}</h1>
                <p>{{ campaign.description }}</p>
            </div>
        </div>
        <div class="ui divider"></div>

        <div class="row">
            <div class="sixteen wide column">
                <div class="ui fluid buttons">
                    <button id="volunteer" class="ui button">Volunteer</button>
                    <div class="or"></div>
                    <button id="donate" class="ui teal button">Donate</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="eleven wide column">
                <div class="ui fluid card">
                    <div class="content">
                        <div class="header">Cute Dog</div>
                        <div class="meta">2 days ago</div>
                        <div class="description">
                            <p>Cute dogs come in a variety of shapes and sizes. Some cute dogs are cute for their adorable faces, others for their tiny stature, and even others for their massive size.</p>
                            <p>Many people also have their own barometers for what makes a cute dog.</p>
                        </div>
                    </div>
                    <div class="extra content">
                        <i class="check icon"></i>
                        121 Votes
                    </div>
                </div>
                <div class="ui fluid card">
                    <div class="content">
                        <div class="header">Cute Dog</div>
                        <div class="meta">2 days ago</div>
                        <div class="description">
                            <p>Cute dogs come in a variety of shapes and sizes. Some cute dogs are cute for their adorable faces, others for their tiny stature, and even others for their massive size.</p>
                            <p>Many people also have their own barometers for what makes a cute dog.</p>
                        </div>

                        <div class="ui comments">
                          <h3 class="ui dividing header">Comments</h3>
                          <div class="comment">
                            <a class="avatar">
                              <img src="/images/avatar/small/matt.jpg">
                            </a>
                            <div class="content">
                              <a class="author">Matt</a>
                              <div class="metadata">
                                <span class="date">Today at 5:42PM</span>
                              </div>
                              <div class="text">
                                How artistic!
                              </div>
                              <div class="actions">
                                <a class="reply">Reply</a>
                              </div>
                            </div>
                          </div>
                          <div class="comment">
                            <a class="avatar">
                              <img src="/images/avatar/small/elliot.jpg">
                            </a>
                            <div class="content">
                              <a class="author">Elliot Fu</a>
                              <div class="metadata">
                                <span class="date">Yesterday at 12:30AM</span>
                              </div>
                              <div class="text">
                                <p>This has been very useful for my research. Thanks as well!</p>
                              </div>
                              <div class="actions">
                                <a class="reply">Reply</a>
                              </div>
                            </div>
                            <div class="comments">
                              <div class="comment">
                                <a class="avatar">
                                  <img src="/images/avatar/small/jenny.jpg">
                                </a>
                                <div class="content">
                                  <a class="author">Jenny Hess</a>
                                  <div class="metadata">
                                    <span class="date">Just now</span>
                                  </div>
                                  <div class="text">
                                    Elliot you are always so right :)
                                  </div>
                                  <div class="actions">
                                    <a class="reply">Reply</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="comment">
                            <a class="avatar">
                              <img src="/images/avatar/small/joe.jpg">
                            </a>
                            <div class="content">
                              <a class="author">Joe Henderson</a>
                              <div class="metadata">
                                <span class="date">5 days ago</span>
                              </div>
                              <div class="text">
                                Dude, this is awesome. Thanks so much
                              </div>
                              <div class="actions">
                                <a class="reply">Reply</a>
                              </div>
                            </div>
                          </div>
                          <form class="ui reply form">
                            <div class="field">
                              <textarea></textarea>
                            </div>
                            <div class="ui blue labeled submit icon button">
                              <i class="icon edit"></i> Add Reply
                            </div>
                          </form>
                        </div>
                    </div>
                    <div class="extra content">
                        <i class="check icon"></i>
                        121 Votes
                    </div>
                </div>
            </div>

            <div class="five wide column">
                <h2 class="ui header">Volunteers</h2>
                <div class="ui tiny images">
                    {% for volunteer in volunteers %}
                        <img src="{{ MEDIA_URL }}{{ volunteer.member.user.photo }}" class="ui image">
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div id="v-modal" class="ui longer modal">
    <div class="header">Volunteer</div>
    <div class="scrolling content">
        <form id="v-form" class="ui large container form" method="POST" action="{{ campaign.volunteer_url }}">
        {% csrf_token %}
        <div class="field">
            <label for="reason">Reason:</label>
            <textarea id="reason" name="reason"></textarea>
        </div>
        <div class="ui divider"></div>
        <button class="ui teal button" type="submit">Submit</button>
    </form>
    </div>
</div>

<div id="d-modal" class="ui longer modal">
    <div class="header">Donate</div>
    <div class="scrolling content">
        <p>Very long content goes here</p>
    </div>
</div>
{% endblock content %}

{% block javascript %}
<script>
    $('.menu .item').tab();
    //$('#example1').progress();
    $('#example2').progress();

    $("#volunteer").click(function() {
        $('#v-modal').modal('show');
    });

    $("#donate").click(function() {
        $('#d-modal').modal('show');
    });

    $('.message .close')
        .on('click', function() {
            $(this)
                .closest('.message')
                .transition('fade');
        });

    $('#v-form').on('submit', function(event){
        event.preventDefault();

        $.ajax({
            data: $(this).serialize(),
            type: $(this).attr('method'),
            url: $(this).attr('action'),
            success: function(response) {
                 console.log(response);
                 if(response['success']) {
                    $("#results").css("display", "block");
                    $("#success-msg").html(response['message'])
                    $(".ui.longer.modal").modal('hide');
                 }
                 if(response['error']) {
                 } 
            },
            error: function (request, status, error) {
                 console.log(request.responseText);
            }
        });
    });

</script>
{% endblock javascript %}