{% extends 'base.html' %}

{% block styles %}
    <style>
        #add-reply {
            /* display: none;  Hidden by default */
            position: fixed; /* Fixed/sticky position */
            bottom: 20px; /* Place the button at the bottom of the page */
            right: 30px; /* Place the button 30px from the right */
            z-index: 99; /* Make sure it does not overlap */
            border: none; /* Remove borders */
            outline: none; /* Remove outline */
            background-color: red; /* Set a background color */
            color: white; /* Text color */
            cursor: pointer; /* Add a mouse pointer on hover */
            padding: 15px; /* Some padding */
            border-radius: 10px; /* Rounded corners */
            font-size: 18px; /* Increase font size */
        }

        #add-reply:hover {
            background-color: #555; /* Add a dark-grey background on hover */
        }
    </style>
{% endblock styles %}

{% block content %}

<div class="ui container">
    <div class="ui padded grid">
        <div class="row">
            <div class="sixteen wide column">
                <h1 class="ui header">{{ post.title }}</h1>
            </div>
        </div>

        <div class="row">
            <div class="ten wide column">
                <div class="ui fluid card">
                    <div class="content">
                        <div class="header">Created by: {{ post.author.get_name }}</div>
                        <div class="meta">{{ post.timelapse }}</div>
                        <div class="description">
                            {{ post.content }}
                        </div>

                        {% include 'comments/_comments.html' %}
                    </div>
                    <div class="extra content">
                        <i class="check icon"></i>
                        121 Votes
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<button type="button" id="add-reply" title="Add Reply">
    <i class="icon comment"></i>
</button>
{% include 'comments/_comment_modal.html' %}
{% endblock content %}

{% block javascript %}
<script>
    $(document).ready(function () {

        $("#add-reply").on("click", function (e) {
            e.preventDefault();
            $(".longer.modal").modal("show");
        });

        function topFunction() {
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }

        $("#comment-form").on("submit", function(e) {
            e.preventDefault();

            $.ajax({
                data: $(this).serialize(),
                type: $(this).attr('method'),
                url: $(this).attr('action'),
                success: function(json) {
                    console.log(json);
                    $("#comment-form")[0].reset();

                    var comment = document.createElement("div");
                    var avatar = document.createElement("a");
                    var img = document.createElement("img");
                    var content = document.createElement("div");
                    var author = document.createElement("a");
                    var text = document.createElement("div");
                    var divider = document.createElement("div");
                    var metadata = document.createElement("div");
                    var created_at = document.createElement("span");
                    // var actions = document.createElement()
                    
                    $(comment).addClass("comment");
                    $(avatar).addClass("avatar");
                    $(content).addClass("content");
                    $(author).addClass("author");
                    $(metadata).addClass("metadata");
                    $(created_at).addClass("date");
                    $(text).addClass("text");
                    $(divider).addClass("ui divider");
                    $(img).attr("src", json.author.user.photo)

                    var comment_content = $(content)
                        .append($(author).html(json.author.user.username))
                        .append($(metadata)
                            .append($(created_at).html(`Created at: ${json.serialized_date}`)))
                        .append($(text).html(`<p>${json.content}</p>`));

                    var comment_avatar = $(avatar)
                        .append(img)

                    var comment_view = $(comment)
                        .append(divider)
                        .append(comment_avatar)
                        .append(comment_content);

                    $("#comments").prepend(comment_view);
                    $(".longer.modal").modal("hide");
                    topFunction();
                },
                error: function (request, status, error) {
                    console.log(request.responseText);
                }
            });
        });

        var rForms = document.querySelectorAll(".reply-form");

        rForms.forEach(function(form) {
            form.addEventListener("submit", function(e) {
                e.preventDefault();
                $.ajax({
                    data: $(form).serialize(),
                    type: $(form).attr('method'),
                    url: $(form).attr('action'),
                    success: function(json) {
                        console.log(json);
                        $(form)[0].reset();
    
                        var comment = document.createElement("div");
                        var avatar = document.createElement("a");
                        var img = document.createElement("img");
                        var content = document.createElement("div");
                        var author = document.createElement("a");
                        var text = document.createElement("div");
                        var divider = document.createElement("div");
                        var metadata = document.createElement("div");
                        var created_at = document.createElement("span");
                        // var actions = document.createElement()
                        
                        $(comment).addClass("comment");
                        $(avatar).addClass("avatar");
                        $(content).addClass("content");
                        $(author).addClass("author");
                        $(metadata).addClass("metadata");
                        $(created_at).addClass("date");
                        $(text).addClass("text");
                        $(divider).addClass("ui divider");
                        $(img).attr("src", json.author.user.photo)
    
                        var comment_content = $(content)
                            .append($(author).html(json.author.user.username))
                            .append($(metadata)
                                .append($(created_at).html(`Created at: ${json.serialized_date}`)))
                            .append($(text).html(`<p>${json.content}</p>`));
    
                        var comment_avatar = $(avatar)
                            .append(img)
    
                        var comment_view = $(comment)
                            .append(divider)
                            .append(comment_avatar)
                            .append(comment_content);
    
                        $(`#r_${form.id}`).prepend(comment_view);
                    },
                    error: function (request, status, error) {
                        console.log(request.responseText);
                    }
                });
            })
        });
    });
</script>
{% endblock javascript %}
