{% extends 'base.html' %}

{% block content %}

<div class="ui container">
    <div class="ui padded grid">

        <div class="row">
            <div class="sixteen wide column">
                <h1 class="ui header">Posts</h1>
                <div class="ui fluid card">
                    <div class="content">
                        <div class="header">Cute Dog</div>
                        <div class="meta">2 days ago</div>
                        <div class="description">
                            <p>Cute dogs come in a variety of shapes and sizes. Some cute dogs are cute for their adorable faces, others for their tiny stature, and even others for their massive size.</p>
                            <p>Many people also have their own barometers for what makes a cute dog.</p>
                        </div>
                    </div>
                    <div class="extra content">
                        <i class="check icon"></i>
                        121 Votes
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock content %}