{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="ui container">
    <div class="ui padded grid">

        <div class="row">
            <div class="sixteen wide column">
                <h1 class="ui dividing header">Add a new topic to {{ discussion.name }}</h1>
            </div>
        </div>

        <div class="row">
            <div class="sixteen wide column">
                <form class="ui large container form" method="POST" novalidate>
                    {% csrf_token %}
                    <div class="field">
                        {{ form.name.errors }}
                        <label for="{{ form.name.id_for_label }}">Name:</label>
                        {{ form.name }}
                    </div>
                    <div class="field">
                        {{ form.description.errors }}
                        <label for="{{ form.description.id_for_label }}">Description:</label>
                        {{ form.description }}
                    </div>
                    <button class="ui teal button" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascript %}
{% endblock javascript %}