{% extends 'base.html' %}

{% block content %}
<div class="ui container">
    <div class="ui padded grid">
        <div class="row">
            <div class="sixteen wide column">
                <h1 class="ui header">Upcoming Events</h1>
            </div>
        </div>

        <div class="row">
            <div class="three wide column">
            </div>
            <div class="ten wide column">
                <div class="ui items">
                    {% for event in events %}
                        <div class="item p-3 rounded" style="border: 1px solid rgba(34,36,38,.15);">
                            <!--<div class="image">
                                <img src="/images/wireframe/image.png">
                            </div>-->
                            <div class="content">
                                <a href="{% url 'events:public-details' event.slug %}" class="header or-link">{{event.name}}</a>
                                <div class="meta">
                                    <span class="cinema" style="display: block; padding-bottom: 0.05rem">
                                        <span>Start: {{event.formatted_start_time}}</span> &middot; 
                                        <span class="floated right">Finish: {{event.formatted_end_time}}</span>
                                    </span>
                                </div>
                                <div class="description">
                                    <p>{{event.details}}</p>
                                </div>
                                <div class="ui divider"></div>
                                <div class="extra">
                                    <form class="right floated atnd-form" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" value="{{event.slug}}" id="slug" name="slug" />
                                        {% if request.user.member in event.attendees.all %}
                                            <button type="submit" class="ui rounded-0 button">
                                                Unattend
                                            </button>
                                        {% else %}
                                            <button type="submit" class="ui orange-red rounded-0 button">
                                                Attend
                                                <i class="right chevron icon"></i>
                                            </button>
                                        {% endif %}
                                    </form>
                                
                                    <div class="ui label"><i class="user icon"></i> {{event.creator.get_name}}</div>
                                    <div class="ui label"><i class="globe icon"></i> {{event.location}}</div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="three wide column">
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascript %}
<script>
    $(document).ready(function() {
        forms = document.querySelectorAll(".atnd-form");

        forms.forEach(function(form) {
            $(form).on("submit", function(event) {
                event.preventDefault();
                
                $.ajax({
                    data: $(form).serialize(),
                    type: $(form).attr('method'),
                    url: "/events/attend/",
                    success: function(response) {
                        console.log(response);
                        if(response['success']) {
                            let button = form.elements[2];
                            $(button).attr("disabled", "disabled");
                        }
                        if(response['error']) {
                        } 
                    },
                    error: function (request, status, error) {
                        console.log(request.responseText);
                    }
                });
            });
        });
    });
</script>
{% endblock javascript %}